*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: norse;
    src: url(./fonts/Norse-Bold.otf);
}



.logo-bar{
    border: 1px solid;
    height: 10rem;
    background-image: url(./images/odin-background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-content{
    background-color: black;
    opacity: 0.5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-content > img{
    height: 6rem;
    width: 6rem;
    opacity: 1;
}

.logo-content > p{
    font-family: norse;
    font-size: 2.5rem;
}

.top-txt{

    margin-top: 2rem;
    padding: 0.5rem;
    font-family:'Courier New', Courier, monospace;
    font-size: 0.98rem;
    font-weight: bold;
    line-height: 1.3rem;
    text-align: center;
}

.top-txt:nth-child(2){
    margin-top: 2rem;
}

.main-form{

    margin: 2rem 0 2rem 0;
    box-shadow: 0 3px 3px 0 silver;
    padding: 1rem 1.2rem 3rem 1.2rem;
    /* max-width: 470px; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-form > * {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0 2rem 0;
}

.footer > p > a{
    text-decoration: none;
    color: #596D48;
}

.footer > button{
    border-style: none;
    background-color: #596D48;
    box-shadow: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

input{
    height: 2rem;
    border: 2px solid lightsteelblue;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 silver;
    outline: none;
    transition: 0.5s;
}

input:focus{
    border-color: dodgerblue;

}
  
  /* Tablet Styles */
  @media only screen and (min-width: 600px) and (max-width: 960px) {
    .logo-bar{
        height: 10rem;
    }

    .top-txt{
        max-width: 600px;
    }
    .form-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-form{
        max-width: 900px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .txt{
        /* border: 1px solid; */
        display: grid;
        justify-content: center;
    }

    .top-txt{
        max-width: 800px;
    }
    .form-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main-form{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .logo-bar{
        min-width: 40%;
        height: 100vh;
    }
  }